Repository ginanck/terraform-eks-atlantis: changes, and which Atlantis projects are due for each by the changed paths.
All: terraform-infrastructure, terraform-atlantis

terraform-infrastructure:
  dir: terraform-infrastructure
  workflow: default
  apply_requirements:
  - approved
  delete_source_branch_on_merge: false

terraform-atlantis:
  dir: terraform-atlantis
  workflow: default
  apply_requirements:
  - approved
  delete_source_branch_on_merge: false

make file upadted and initial cluster version updated to 1.29
  .gitignore
  .mise.toml
  Makefile
  terraform-infrastructure/main.tf
  terraform-infrastructure/rbac.tf
  terraform-infrastructure/terraform.tfvars
Due: terraform-infrastructure

iam policies has been attached to the eks cluster
  RBAC_TESTING.md
  terraform-infrastructure/eks.tf
  terraform-infrastructure/outputs.tf
Due: terraform-infrastructure

cluster name updated for deploying to the correct cluster
  GITHUB_PAT_SETUP.md
  terraform-atlantis/atlantis.tf
  terraform-atlantis/main.tf
  terraform-atlantis/outputs.tf
  terraform-atlantis/terraform.tfvars
  terraform-atlantis/terraform.tfvars.example
  terraform-atlantis/values.yaml
  terraform-atlantis/variables.tf
  terraform-infrastructure/alb.tf
  terraform-infrastructure/eks.tf
  terraform-infrastructure/iam.tf
  terraform-infrastructure/main.tf
  terraform-infrastructure/outputs.tf
  terraform-infrastructure/rbac.tf
Due: terraform-infrastructure, terraform-atlantis

cluster version updated
  README.md
  atlantis.yaml
  terraform-atlantis/values.yaml
  terraform-infrastructure/terraform.tfvars
Due: terraform-infrastructure

max unavailability changed
  terraform-infrastructure/eks.tf
Due: terraform-infrastructure

atlantis pi;eline config updated
  atlantis.yaml
Due: none

sample change created
  terraform-infrastructure/main.tf
Due: terraform-infrastructure

Path conditions:
  terraform-infrastructure: any of: terraform-infrastructure/*.tf, terraform-infrastructure/*.tfvars
  terraform-atlantis: any of: terraform-atlantis/*.tf, terraform-atlantis/*.tfvars
